<%= simple_form_for(@task) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :escription %>
    <%= f.association :user %>
    <%= f.association :event %>
    <%= f.input :status %>
    <%= f.input :due_by %>
    <%= f.input :assigned_by %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
