<h1>Welcome <%= current_user.first_name %></h1>

<table>

  <tbody>
    <tr>
      <td>Name: <%= current_user.first_name %> <%= current_user.last_name %></td>
    </tr>
    <tr>
      <td>Email: <%= current_user.email %></td>
    </tr>
    <tr>
      <td>Phone Number: <%= current_user.phone_number %></td>
    </tr>
    <tr>
      <td><%= link_to 'Edit Details', edit_user_path(current_user) %></td>
    </tr>
    <tr>
      <td><%= link_to 'Delete Account', current_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  </tbody>
</table>

<br>