<%= simple_form_for(@event) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :event_type %>
    <%= f.input :name %>
    <%= f.input :location %>
    <%= f.input :description %>
    <h3>Team</h3>
    <div id="team">
      <%= f.simple_fields_for :team do |t| %>
        <%= t.input :name %>
        <%= t.simple_fields_for :memberships do |m| %>
          <%= m.input :users, collection: @users, input_html: {multiple: true} %>
        <% end %>
      <% end %>
    </div>
    <%= f.input :start_time %>
    <%= f.input :end_time %>
  </div>

  <div class="form-actions text-right pb-2">
    <%= f.button :submit, :class => 'btn btn-outline-dark'%>
  </div>
<% end %>
