
<%= month_calendar events: @events do |date, events| %>
  <%= date.day %>

  <% events.each do |event| %>
    <%# MODAL %>
    <div class="modal fade" id='<%= event.id %>' tabindex="-1" role="dialog" aria-labelledby='<%= event.id %>Label' aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id='<%= event.id %>Label'><%= event.name %></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p><%= event.event_type.titleize %> Name : <%= event.name %></p>
            <p>Location : <%= event.location %></p>
            <p>Additional Info : <%= event.description %></p>
            <p>Leader : <%= event.user.full_name %></p>
            <p>Date : <%= event.date.strftime("%B %d, %Y, %A") %></p>
            <p>Start : <%= event.start_time.strftime("%H:%M") %></p>
            <p>End : <%= event.end_time.strftime("%H:%M") %></p>
            <%= link_to 'Edit', edit_event_path(event) %>
            <%= link_to 'Delete',
              event_path(event),
              data: {confirm: 'Are you sure?'},
              method: :delete
            %>
          </div>
        </div>
      </div>
    </div>

    <div class = 'subsection'>
      <button
        id="new_event_btn"
        type="button"
        class="event-button"
        data-toggle="modal"
        data-target='#<%= event.id %>'
        data-whatever="@mdo"
      ><%= event.name %> | <%= event.event_type %>
      </button>
    </div>
  <% end %>
<% end %>
