
<%= month_calendar events: @events do |date, events| %>
  <%= date.day %>

  <% events.each do |event| %>
    <%# MODAL %>
    <%= render 'event_modal', event: event %>

    <div class = 'subsection'>
      <button
        id="new_event_btn"
        type="button"
        class="event-button"
        data-toggle="modal"
        data-target='#<%= event.id %>'
        data-whatever="@mdo"
      ><%= event.name.truncate(10) %> | <%= event.event_type %>
      </button>
    </div>
  <% end %>
<% end %>
