<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @event.event_type %>
</p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @event.user.full_name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @event.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @event.end_time %>
</p>
<p>
  <strong>Users:</strong>
  <% @event.tasks.each do |task| %>
    <p><%= task.user&.full_name %></p>
  <% end %>
</p>
<p>
  <strong>Tasks:</strong>
  <% @event.tasks.each do |task| %>
    <p><%= task.name %></p>
  <% end %>
</p>

<h3>Create Task:</h3>

<%= simple_form_for [@event, @task] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.association :user %>
    <%= f.association :event %>
    <%= f.input :status %>
    <%= f.input :due_by %>
    <%= f.input :assigned_by %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>



<%= link_to 'Back', events_path %>
<% if user_signed_in? && can?(:manage, @event) %>
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to "Delete", event_path(@event), method: :delete %>
<% end %>
