<p>Hello <%= @guest.first_name %>,</p>

<p> Thank you for signing up for <%= @event.name %> </p>
<p> The event has been edited by <%= @event.user.first_name %>. </p>
<p> Location: <%= @event.location %> </p>
<p> Time: <%= @event.start_time %> </p>
<p> Additional Information: <%= @message %> </p>

<p>Regards,</p>
<p>ForceOfNature Team</p>
