<p>Hello <%= @user.first_name %>,</p>

<p> Thank you for signing up for <%= @event.name %> hosted by <%= @event.user.first_name %> </p>
<p> The event will be held at <%= @event.location %> on <%= @event.start_time %> </p>

<p>Regards,</p>
<p>ForceOfNature Team</p>
