<div class="modal fade" id='<%= event.id %>' tabindex="-1" role="dialog" aria-labelledby='<%= event.id %>Label' aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id='<%= event.id %>Label'><%= event.name %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class='row modal-body'>
        <div class="col-md-4 event-information">

          <p class='centering'><strong>Event Information</strong></p>
          <div class = 'event-box'>
            <p><strong><%= event.event_type.titleize %> Name :</strong> <%= event.name %></p>
            <p><strong>Location :</strong> <%= event.location %></p>
            <p><strong>Additional Info :</strong> <%= event.description %></p>
            <p><strong>Leader :</strong> <%= event.user.full_name %></p>
            <p><strong>Date :</strong> <%= event.start_time.strftime("%B %d, %Y, %A") %></p>
            <% timehour = rand(1..8) %>
            <p><strong>Start :</strong> <%= timehour %>:00pm </p>
            <p><strong>End :</strong> <%= timehour + 2 %>:00pm </p>
            <div class = 'text-right'>

              <%= link_to 'Edit',
                edit_event_path(event),
                :class => 'btn btn-outline-dark'
              %>

              <%= link_to 'Delete',
                event_path(event),
                :class => 'btn btn-outline-dark',
                data: {confirm: 'Are you sure?'},
                method: :delete
              %>
            </div>
          </div>
        </div>

        <div class='col-md-4 event-information'>

          <div class='task-create'>
          <p class='centering'><strong>Create Task</strong></p>

            <%= simple_form_for [event, @task] do |f| %>
              <%= f.error_notification %>

              <div class="form-inputs">
                <%= f.input :name %>
                <%= f.input :description %>
                <%= f.input :user_id, label: "Assigned To", collection: @user_names.values, input_html: {class: 'chosen-select'} %>
                <%= f.input :status %>
                <%= f.input :due_by %>
                <%= f.hidden_field :event_id, :value => event.id %>
              </div>
              <div class="form-actions text-right">
                <%= f.button :submit, :class => 'btn btn-outline-dark' %>
              </div>
            <% end %>
          </div>

        </div>

        <div class='col-md-4'>
          <div class='group-members'>
            <p class='centering'><strong>Team Members</strong></p>
            <div class="task-viewer">
              <% @teams.find_by_event_id(event.id).memberships.each do |mem| %>
                <% member = @users.find_by_id(mem.user_id) %>
                <p><strong><%= member.full_name %></strong></p>
                <p class = 'mb-2'><%= member.email %></p>
              <% end %>
            </div>
            <% if user_signed_in? %>
              <div class = 'text-right mt-2'>
              <%= button_to "Join Event",
                  {:controller => :memberships, :action => 'create'},
                  params: {:event => event},
                  :method => :post,
                  :class => 'btn btn-outline-dark'
              %>
              </div>
            <% end %>
          </div>

          <div>
            <p class='search-headers'><strong>Task List</strong></p>
              <div class="task-viewer">
              <% event.tasks.each do |task| %>
                <p><strong> Task Name: </strong> <%= task.name %></p>
                <p><strong> Description: </strong><%= task.description %></p>
                <p><strong> Status: </strong><%= task.status %></p>
                <p><strong> Due By: </strong><%= task.due_by %></p>
                <p><strong> Assigned To: </strong><%= @users.find_by_id(task.user_id).full_name %></p>
                <p><strong> Task Delegate: </strong><%= @users.find_by_id(task.assigned_by).full_name %></p>
                <hr>
              <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
