<div class="modal fade" id="newSessionModal" tabindex="-1" role="dialog" aria-labelledby="newSessionModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newEventModalLabel">Sign In</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <%= simple_form_for @user do |f| %>
              <%= f.error_notification %>
              <div>
                  <%= f.input :first_name %>
                  <%= f.input :last_name %>
                  <%= f.input :email %>
                  <%= f.input :phone_number %>
                  <%= f.input :password %>
                  <%= f.input :password_confirmation %>
              </div>

              <div class="form-actions">
                  <%= f.submit 'Create User'%>
              </div>
          <% end %>
      </div>
    </div>
  </div>
</div>