<!DOCTYPE html>
<html>
  <head>
    <title>GroupProject</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <%# NAVBAR %>
    <nav class="navbar navbar-expand-sm sticky-top">
      <a class="navbar-brand" href="/"><%= image_tag 'Force_Logo_Transparent_Background.png', style: 'width: 125px;' %></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">

          <li class="nav-item">
            <a class="nav-link" href="https://slack.com/"><%= image_tag 'slack.svg', style: 'width: 70px;' %></a>
          </li>

          <% if user_signed_in? %>

          <div class="add-event">
            <button
              type="button"
              class="nav-link cal-btn"
              data-toggle="modal"
              data-target="#newEventModal"
              data-whatever="@mdo"
            >
            New Event
            </button>
          </div>

          <div class="form-inline">
            <button
              id="dashboard_btn"
              type="button"
              class="nav-link cal-btn"
              data-toggle="modal"
              data-target="#dashboardModal"
              data-whatever="@mdo"
            >
            User Dashboard
            </button>
          </div>

          <div class="form-inline">
            <button
              type="button"
              class="nav-link cal-btn"
              data-toggle="modal"
              data-target="#searchModal"
              data-whatever="@mdo"
            >
            Search
            </button>
          </div>

            <span class="navbar-text">
              &nbsp; Hello, <%= current_user.first_name %> &nbsp;
            </span>

            <% if current_user.is_admin? %>
            <li class="nav-item">
            <%= link_to 'Admin Dashboard', admin_dashboard_index_path, :class => 'nav-link' %>
            </li>
              <span class="navbar-text">
                &nbsp; Admin &nbsp;
              </span>
            <% end %>

          <li class="nav-item">
            <%= link_to('Sign Out', session_path, method: :delete, :class => 'nav-link') %>
          </li>

        <% else %>
          <div class="sign-in">
            <button
              type="button"
              class="nav-link cal-btn"
              data-toggle="modal"
              data-target="#newSessionModal"
              data-whatever="@mdo"
            >
            Sign In
            </button>
          </div>
            <div class="sign-up">
              <button
              type="button"
              class="nav-link cal-btn"
              data-toggle="modal"
              data-target="#newUserModal"
              data-whatever="@mdo"
              >
              Sign Up
            </button>
          </div>
          <% end %>
        </ul>
      </div>
    </nav>

    <%# New Modal %>
    <%= render './modals/new_event_modal' %>

    <%# User Modals %>
    <%= render './modals/new_session_modal' %>
    <%= render './modals/new_user_modal' %>

    <%#= DASHBOARD MODAL %>
    <%= render './modals/user_dashboard_modal' %>

    <%= render './modals/search_modal' %>

    <main class="container-fluid">
        <%# ALERTS %>
        <% if flash[:notice].present? %>
          <div class="alert alert-success alert-dismissable fade-show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <%= flash[:notice] %>
          </div>
        <% end %>

        <% if flash[:alert].present? %>
          <div class="alert alert-danger alert-dismissable fade-show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <%= flash[:alert] %>
          </div>
        <% end %>

      <%= yield %>
    </main>

    <footer class="footer">
      <div class="container">
        <div class='row'>
          <div class='col-2'>
            <img class='img-center text-center' src='/assets/polar1.png' width='80px;'/>
          </div>

          <div class='col-8'style='text-align: center;'>
            <p style="text-align: center; padding-top: 20px;"><strong> Change Font Size </strong></p>
            <span id="smallest-text" alt="0.8em" src="/assets/giphy.gif" onclick="smallestText()" style='font-size: 0.9em'> Smaller Font Size </span> |
            <span id="original-text" alt="0.8em" src="/assets/giphy.gif" onclick="originalText()" style='font-size: 1em' > Original Font Size </span> |
            <span id="largest-text" alt="1.1em" src="/assets/giphy.gif" onclick="largestText()" style='font-size: 1.2em' > Bigger Font Size </span>
          </div>

          <div class='col-2'>
            <img class='img-center text-center' src='/assets/polar1.png' width='80px;'/>
          </div>
        </div>
      </div>
    </footer>

    <%# console %>

  </body>
</html>
