<!DOCTYPE html>
<html>
  <head>
    <title>GroupProject</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <%# NAVBAR %>
    <nav class="navbar navbar-expand-sm sticky-top">
      <a class="navbar-brand" href="/"><%= image_tag 'Force_Logo_Transparent_Background.png', style: 'width: 100px;' %></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="https://slack.com/"><%= image_tag 'slack.svg', style: 'width: 70px;' %></a>
          </li>

          <% if user_signed_in? %>
            <div class="form-inline">
              <button
                id="new_event_btn"
                type="button"
                class="btn btn-outline-danger button-space-sides"
                data-toggle="modal"
                data-target="#newEventModal"
                data-whatever="@mdo"
              >
              New Event
              </button>
            </div>
            <span class="navbar-text">
              Hello, <%= current_user.first_name %>
            </span>

            <% if current_user.is_admin? %>
              <span class="navbar-text">
                &nbsp; Admin
              </span>
            <% end %>

          <li class="nav-item">
            <%= link_to('Sign Out', session_path, method: :delete, :class => 'nav-link') %>
          </li>

        <% else %>
          <li class="nav-item">
            <%= link_to('Sign In', new_session_path, :class => 'nav-link') %>
          </li>
          <li class="nav-item">
            <%= link_to('Sign Up', new_user_path, :class => 'nav-link') %>
          </li>
        <% end %>
        </ul>
      </div>
    </nav>

    <div class="modal fade" id="newEventModal" tabindex="-1" role="dialog" aria-labelledby="newEventModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="newEventModalLabel">New Event</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <%= simple_form_for @new_event do |form| %>
                <%= form.input :event_type %>
                <%= form.input :name %>
                <%= form.input :location %>
                <%= form.input :description %>
                <%= form.input :date %>
                <%= form.input :start_time %>
                <%= form.input :end_time %>
                <%= form.submit({class: "btn btn-primary"}) %>
              <% end %>
          </div>
        </div>
      </div>
    </div>

    <main class="container-fluid">
        <%# ALERTS %>
        <% if flash[:notice].present? %>
          <div class="alert alert-success alert-dismissable fade-show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <%= flash[:notice] %>
          </div>
        <% end %>

        <% if flash[:alert].present? %>
          <div class="alert alert-danger alert-dismissable fade-show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <%= flash[:alert] %>
          </div>
        <% end %>

      <%= yield %>
    </main>

    <%# console %>

  </body>
</html>
