<!DOCTYPE html>
<html>
  <head>
    <title>GroupProject</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <%# NAVBAR %>
    <nav class="navbar navbar-expand-sm sticky-top">
      <a class="navbar-brand" href="/"><%= image_tag 'Force_Logo_Transparent_Background.png', style: 'width: 100px;' %></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">

          <li class="nav-item">
              <%= form_tag(events_path, :method => "get", id: "search-form") do %>
                <%= text_field_tag :search, params[:search], placeholder: "Search Here" %>
                <%= submit_tag "Search", :name => nil %>
              <% end %>

          </li>

          <li class="nav-item">
            <a class="nav-link" href="https://slack.com/"><%= image_tag 'slack.svg', style: 'width: 70px;' %></a>
          </li>

          <% if user_signed_in? %>

          <div class="add-event">
            <button
              type="button"
              class="nav-link cal-btn"
              data-toggle="modal"
              data-target="#newEventModal"
              data-whatever="@mdo"
            >
            New Event
            </button>
          </div>

          <div class="form-inline">
            <button
              id="dashboard_btn"
              type="button"
              class="btn btn-outline-danger button-space-sides"
              data-toggle="modal"
              data-target="#dashboardModal"
              data-whatever="@mdo"
            >
            Dashboard
            </button>
          </div>

            <span class="navbar-text">
              Hello, <%= current_user.first_name %>
            </span>

            <% if current_user.is_admin? %>
            <li class="nav-item">
            <%= link_to 'Dashboard', admin_dashboard_index_path, :class => 'nav-link' %>
            </li>
              <span class="navbar-text">
                &nbsp; Admin
              </span>
            <% end %>

          <li class="nav-item">
            <%= link_to('Sign Out', session_path, method: :delete, :class => 'nav-link') %>
          </li>

        <% else %>
          <li class="nav-item">
            <%= link_to('Sign In', new_session_path, :class => 'nav-link') %>
          </li>
          <li class="nav-item">
            <%= link_to('Sign Up', new_user_path, :class => 'nav-link') %>
          </li>
        <% end %>
        </ul>
      </div>
    </nav>

    <div class="modal fade" id="newEventModal" tabindex="-1" role="dialog" aria-labelledby="newEventModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="newEventModalLabel">New Event</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <%= simple_form_for @new_event do |form| %>
                <%= form.input :event_type %>
                <%= form.input :name %>
                <%= form.input :location %>
                <%= form.input :description %>
                <%= form.input :date %>
                <%= form.input :start_time %>
                <%= form.input :end_time %>
                <%= form.submit({class: "btn btn-primary"}) %>
              <% end %>
          </div>
        </div>
      </div>
    </div>

    <%#= DASHBOARD MODAL %>

    <div class="modal fade" id='dashboardModal' tabindex="-1" role="dialog" aria-labelledby='dashboardLabel' aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id='dashboardLabel'>Dashboard</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="3000">
              <div class="carousel-inner">
                <div class="carousel-item active" style="text-align: center">
                  MEETING AT PORT COQUITLAM
                </div>
                <div class="carousel-item" style="text-align: center">
                  SLIDESHOW MEETING
                </div>
                <div class="carousel-item" style="text-align: center">
                  WHATEVER MEETING
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>

            <div class="row">
              <div class="col-md-6">
                <h1>Current Teams</h1>
                <ul>
                  <li id="team-1">Team 1</li>
                  <p id="team-members" class="hide">abcdefg</p>
                  <li>Team 2</li>
                  <li>Team 3</li>
                  <li>Team 4</li>
                </ul>
              </div>
              <div class="col-md-6">
                <h2>Briefings</h2>

                <div>
                  <h2>Important Documents</h2>
                  <ul>
                    <li>Campaign Overview</li>
                    <li>Canvas Petition</li>
                    <li>Fact Sheet</li>
                    <li>Brochure</li>
                    <li>Training</li>
                  </ul>
                </div>
                <div>
                  <h2>Your Team's Folder</h2>
                  <ul>
                    <li>Port Moody Research Folder</li>
                    <li>Data Log Folders</li>
                    <li></li>
                  </ul>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <main class="container-fluid">
        <%# ALERTS %>
        <% if flash[:notice].present? %>
          <div class="alert alert-success alert-dismissable fade-show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <%= flash[:notice] %>
          </div>
        <% end %>

        <% if flash[:alert].present? %>
          <div class="alert alert-danger alert-dismissable fade-show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <%= flash[:alert] %>
          </div>
        <% end %>

      <%= yield %>
    </main>

    <%# console %>

  </body>
</html>
